<div *ngIf="!isLoading && files.length">
  <div class="search-box">
    <input type="text" [ngModel]="search" (ngModelChange)="searchFiles($event)" placeholder="Search files...">
  </div>
  <div class="flex wrap files-list center" *ngIf="files">
    <div class="card flex wrap" *ngFor="let file of filteredFiles">
      <div [class]="file.typeColor + ' card-header'">
        <h4>{{file.title}}</h4>
      </div>
      <div class="card-content flex wrap">
        <div class="user-info flex wrap">
          <div class="user-created">
            <h5>Created By</h5>
            <p>{{file.createdByUserName}}</p>
          </div>
          <div class="user-modified">
            <h5>Modified By</h5>
            <p>{{file.modifiedByUserName}}</p>
          </div>
        </div>
        <div class="file-type">
          <h5>Type</h5>
          <p>{{file.type}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!isLoading && !files.length && !errorOccurred">
  <h1>No data to display right now.</h1>
</div>
<div *ngIf="!isLoading && errorOccurred">
  <h1>Ooops... Something went wrong. Please try again later.</h1>
</div>
<div class="loader" *ngIf="isLoading">
  <app-loader></app-loader>
</div>